/* font import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

/* Common styles */

body{
    background: #000 url(../img/bg.jpg) center 0 no-repeat;
 	background-attachment: fixed;
    font: 14px "Open Sans", Arial;
	line-height: 20px;
    color: #fff;
}

.wrp{
    width: 1000px;
    margin: auto;
}

main a{
    color: #fff;
}

/* Index page */

.index header{
	position: relative;
}

.index .logo_wrap{
	margin: 50px 0px 17px 0px;
	text-align: center;
}

.index nav{
	border-bottom: 1px dashed #000;
	margin: 0px 0px 20px 0px;
}

.index nav .first{
	position: absolute;;
	top: 155px;
	left: 50px;
}

.index nav .two{
	position: absolute;
	top: 200px;
	left: 75px;
}

.index nav .three{
	position: absolute;
	top: 155px;
	left: 520px;
}

.index nav .four{
	position: absolute;
	top: 200px;
	left: 494px;
}

.index nav .first, .index nav .two, .index nav .three, .index nav .four{
	float: left;
	margin: 0px 0px 0px 120px;
	list-style: none;
	background: rgba(0, 0, 0, 0.7);
	width: 190px;
	text-align: center;
	padding: 5px 0px;
}

.index nav .first, .index nav .two{
	-webkit-transform: skewX(30deg); 
	-ms-transform: skewX(30deg); 
	transform: skewX(30deg); 
}

.index nav .first div, #main nav .two div{
	-webkit-transform: skewX(-30deg); 
	-ms-transform: skewX(-30deg); 
	transform: skewX(-30deg); 
}

.index nav .three, #main nav .four{
	-webkit-transform: skewX(-30deg); 
	-ms-transform: skewX(-30deg); 
	transform: skewX(-30deg); 
}

.index nav .three div, #main nav .four div{
	-webkit-transform: skewX(30deg); 
	-ms-transform: skewX(30deg); 
	transform: skewX(30deg); 
}

.index nav a{
	color: #fff;
	text-decoration: none;
}

.index nav a:hover .first, .index nav a:hover .two, .index nav a:hover .three, .index nav a:hover .four{
	background: #680000;
	-webkit-transition: all 1s;
    transition: all 1s;
}

.index main{
	clear: both;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
} 

.index footer{
	clear: both;
	padding-top: 45px;
}

.index .copy{
	margin: -5px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
	border-top: 1px dashed #000;
	padding:20px 0px 20px 0px;
	color: #000;
}


/* Others page */

.page header{
 	min-height: 115px;
}

.page header .logo_wrap{
 	width: 205px;
 	float: left;
 	text-align: center;
}

.page .logo_wrap img{
	margin: 15px 0px 15px 0px;
}

.page nav{
	padding: 40px 0px 0px 0px;
}

.page nav .first, .page nav .two, .page nav .three, .page nav .four{
	float: left;
	margin: 0px 0px 0px 20px;
	list-style: none;
	background: rgba(0, 0, 0, 0.7);
	width: 160px;
	text-align: center;
	padding: 5px 0px;
}

.page nav .first, .page nav .two, .page nav .three, .page nav .four{
	-webkit-transform: skewX(30deg); 
	-ms-transform: skewX(30deg); 
	transform: skewX(30deg); 
}

.page nav .first div, .page nav .two div, .page nav .three div, .page nav .four div{
	-webkit-transform: skewX(-30deg); 
	-ms-transform: skewX(-30deg); 
	transform: skewX(-30deg); 
}

.page nav a{
	color: #fff;
	text-decoration: none;
}

.page nav a:hover .first, .page nav a:hover .two, .page nav a:hover .three, .page nav a:hover .four{
	background: #680000;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.page main{
 	clear: both;
 	min-height: 500px;
 	background: rgba(0, 0, 0, 0.7);
 	padding: 20px;
 	display: block;
}

.page main h1, .page main h1 a{
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
	color: #fff;
	text-decoration: none;
	margin: 0px 0px 15px 0px;
}

.page footer{
	font-size: 14px;
	color: #818181;
}

.page .copy{
	margin:50px 0px 0px 0px;
	text-align: center;
	border-top: 1px dashed #000;
	padding: 20px 0px 20px 0px;
    color: #000;
    font-size: 12px;
}